.header {
  box-shadow: 0 0px 7px black;

  li,
  .product-list p {
    transition: transform 0.5s;
  }

  .menu-header {
    box-shadow: 0 0px 7px black;
  }

  .product-list:hover {
    p {
      transform: scale(1.1);
    }
  }

  .product-list ul {
    background:rgb(71 69 69 / 20%);
    li {
      margin: 0.25rem 1rem;
    }

    li:hover {
      transform: scale(1.2);
    }
  }


}