.order {
    height: 100vh;
    background-color: rgba(228, 228, 228, 0.908);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
.column{
    flex-direction: column;
}
    >div {
        height: 75%;
        width: 75%;
        background-color: white;

        .content {
            flex-direction: column;

            div {
                width: 100%;
            }

            button {
                background-color: rgb(37 104 37);
                color: white;
                padding: 10px;
            }
        }

        .list {
            flex-direction: column;
            border-right: 1px solid #a3a3a345;

            div:first-child {
                border: 2px dotted rgb(163, 163, 163);
                font-weight: 500;
            }

            div {
                margin-bottom: 8px;
                border: 1px solid rgb(163, 163, 163);
                padding: 10px;
                cursor: pointer;
                border-radius: 8px;
            }
        }
    }

    .close {
        box-sizing: content-box;
        color: black;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 10px;
        font-size: 30px;
        cursor: pointer;
    }

}